*{
   font-family: "Poppins", Sans-serif;
}

body{
    background-color: rgb(15, 15, 15);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

/* HEADER */

.navbar-brand img {
    max-height: 50px; /* Altura máxima del logo */
    margin-right: 1rem; /* Separación del menú */
  }
  
  .navbar-nav .nav-link {
    margin-left: 1rem; /* Espaciado entre enlaces */
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

.nav-link{
    color: #62EDA1;
    font-weight: bolder;
    z-index: 2;
}

.nav-link:hover{
    color: #3e9a67;
}

/* INICIO */

#titulo h1{
    font-size: 64px;
    font-weight: bold;
    color: white;
}

#titulo h1+h1{
    color:#62EDA1;
    font-size: 80px;
}

#Inicio button a{
    text-decoration: none;
    color: white;
}

#Inicio button{
    width: 300px;
}

#Inicio button:hover{
    background-color: #62EDA1;
}
/* BENEFICIOS */
#Beneficios{
    background-color: white;
    padding-top: 30px;
}

#Beneficios .card {
    background-color: #62EDA1; 
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    height: 11rem;
}

.icon img{
    width: 60px;
    margin: 10px;
}

#Beneficios .card h3 {
    font-size: 18px;
    margin: 10px 0;
}

#Beneficios .card p {
    font-size: 14px;
    line-height: 1.5;
}

#Beneficios .card:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

/* PREGUNTAS FRECUENTES */
.accordion-button, .accordion-button:not(.collapsed){
    background-color: #017fe1;
    color: white;
}

#Preguntas h1{
    color: white;
}

/* CONTACTO */
#Contacto{
    background-color: white;
    padding-top: 30px;
}

#Contacto .card{
    background-color: #0b153d;
    padding: 20px;
}

#Contacto h2, p, label{
    color: white;
}

#Contacto button{
    background-color: #62EDA1;
    color: white;
    border-color: #62EDA1;
}

#Contacto button:hover{
    background-color: #02a88c;
    color: white;
    transition: 0.3s;
}

/* FOOTER */
footer{
    background-color: #ffffff;
    color: white;
    
}

#creditos{
    display: flex;
    justify-content: center;
    color: black;
}

.iconos{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.iconos :hover{
    color: #01d1b0;
}

